.packages {
    display: flex;
    flex-direction: column;
  }

  .packages-container {
    margin: 1rem 5rem 0rem 5rem;
  }

  .packages-container > h2 {
    margin-top: 0;
  }

  .package {
    background-color: var(--white);
    border: 1px solid var(--outline);
    margin: 0.5rem 0;
    border-radius: 0.5rem;
    padding: 0.5rem;
  }

  /* This targets all the child elements of the element with the .package class */
  .package > * {
    padding: 0.5rem;
  }

  .package-info {
    flex: 1;
    display: flex;
    align-items: center;
    color: var(--dark);
    font-family: "Roboto", sans-serif;
  }

  .package-title {
    color: var(--primary);
    font-family: "Roboto", sans-serif;
  }

  .package-content {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  .package-image {
    width: 200px;
    height: auto;
    margin-right: 20px;
    border-radius: 8px;
  }

  /* This targets any footer element that is a child of an element with the .package class */
  .package > footer {
    display: flex;
    border-top: 1px solid var(--outline);
    align-items: center;
    justify-content: space-between;
  }

  /* This targets any element that is a child of a footer that is a child of an element with the .package class */
  .package > footer > * {
    flex-basis: 22%;
  }

  .filter-btn {
    margin-right: 2rem;
  }

  .new-event-btn {
    margin-right: 2rem;
  }

  .package-search {
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border: 1px solid var(--outline);
    border-radius: 0.25rem;
  }

  .filter-bar {
    display: flex;
    justify-content: center; /* Centers the search bar */
    margin-top: 1rem;
  }

  .title {
    display: block; /* Default block-level element behavior */
    margin: 0 auto; /* Center the container horizontally */
    color: var(--primary);
    background-color: var(--white);
    border: 1px solid var(--outline);
    border-radius: 0.5rem;
    padding: 1rem;
    margin-top: 2rem;
    text-align: center;
    max-width: fit-content; /* Adjusts to the content size */
  }