.profile {
    justify-content: center;
    background-color: var(--white);
    border: 1px solid var(--outline);
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 3rem;
    margin-left: 8rem;
    margin-right: 8rem;
  }
  
  .profile h1 {
    text-align: center;
    color: var(--primary);
  }

  .profile h2 {
    text-align: center;
    color: var(--secondary);
  }
  
  .profile-info {
    display: flex;
    justify-content: center;
    color: var(--secondary);
    font-family: "Roboto", sans-serif;
  }
  
  .profile-column {
    display: flex;
    flex-direction: column;
    margin: 0 1rem; /* Add some space between the columns */
  }
  
  .btn-container {
    display:flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 1rem;
  }